
<!-- Latest Blog Posts -->
<div class="container my-5">
<h3 class="text-danger mb-4">Recent Tales of Struggle</h3>
<div class="row">
  <div class="col-lg-4 col-md-6 mb-4">
      <div class="card no-border" style="border:none;">
          <img src="app/assets/1.jpeg" alt="Image 1" class="card-img-top">
          <div class="card-body">
              <p class="text-muted">25 Apr 2022</p>
              <p>Explore the depths of Berserk's narrative.</p>
              <a href="#" class="btn btn-link text-danger">Read more <i class="material-icons">arrow_right_alt</i></a>
          </div>
      </div>
  </div>
  <div class="col-lg-4 col-md-6 mb-4">
      <div class="card no-border" style="border:none;">
          <img src="app/assets/2.jpg" alt="Image 2" class="card-img-top">
          <div class="card-body">
              <p class="text-muted">25 Apr 2022</p>
              <p>Discover the hidden lore of Berserk's world.</p>
              <a href="#" class="btn btn-link text-danger">Read more <i class="material-icons">arrow_right_alt</i></a>
          </div>
      </div>
  </div>
  <div class="col-lg-4 col-md-6 mb-4">
      <div class="card no-border" style="border:none;">
          <img src="app/assets/3.jpeg" alt="Image 3" class="card-img-top">
          <div class="card-body">
              <p class="text-muted">25 Apr 2022</p>
              <p>Learn the art of survival in Berserk's world.</p>
              <a href="#" class="btn btn-link text-danger">Read more <i class="material-icons">arrow_right_alt</i></a>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-md-6 mb-4">
      <div class="card no-border" style="border:none;">
          <img src="app/assets/4.jpeg"  alt="Image 4" class="card-img-top">
          <div class="card-body">
              <p class="text-muted">25 Apr 2022</p>
              <p>Embrace the struggle in Berserk's dark tale.</p>
              <a href="#" class="btn btn-link text-danger">Read more <i class="material-icons">arrow_right_alt</i></a>
          </div>
      </div>
  </div>
  <div class="col-lg-4 col-md-6 mb-4">
      <div class="card no-border" style="border:none;">
          <img src="app/assets/5.jpeg"  alt="Image 5" class="card-img-top">
          <div class="card-body">
              <p class="text-muted">25 Apr 2022</p>
              <p>Uncover the mysteries of Berserk's characters.</p>
              <a href="#" class="btn btn-link text-danger">Read more <i class="material-icons">arrow_right_alt</i></a>
          </div>
      </div>
  </div>
  <div class="col-lg-4 col-md-6 mb-4">
      <div class="card no-border" style="border:none;">
          <img src="app/assets/6.jpeg"  alt="Image 6" class="card-img-top">
          <div class="card-body">
              <p class="text-muted">25 Apr 2022</p>
              <p>Embark on a journey through Berserk's dark world.</p>
              <a href="#" class="btn btn-link text-danger">Read more <i class="material-icons">arrow_right_alt</i></a>
          </div>
      </div>
  </div>
</div>
</div>
