<!-- Parent2 -->
<div class="container py-5 berserk-container">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-lg-7 col-md-12">
              <div class="card main-card border-0">
                  <div class="row no-gutters">
                      <div>
                          <img src="app/assets/gg.jpg" class="card-img" alt="Guts">
                      </div>
                      <div class="col-md-19">
                          <div class="card-body custom-card-body">
                              <h5 class="card-title">Unleash your inner darkness with new tools.</h5>
                              <p class="card-text">Harness the power of darkness in your battles. Experience the true meaning of struggle.</p>
                              <p class="card-date">25 Apr 2022</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-sm-12 col-lg-5">
              <div class="row">
                  <div class="col-12 mb-4">
                      <div class="card border-0 mb-14">
                          <div class="row no-gutters">
                              <div class="col-md-6">
                                  <img src="app/assets/guts4.png" class="card-img1" alt="Guts 4">
                              </div>
                              <div class="col-md-6">
                                  <div class="card-body">
                                      <h5 class="card-title">Master new weapons and skills</h5>
                                      <p class="card-text">Forge your destiny with weapons forged in darkness.</p>
                                      <p> GUTS</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- Second Image -->
                  <div class="col-12 mb-4" >
                      <div class="card border-0 mb-4">
                          <div class="row no-gutters">
                              <div class="col-md-6">
                                  <img src="app/assets/gggg.jpeg" class="card-img2" alt="Griffith">
                              </div>
                              <div class="col-md-6">
                                  <div class="card-body">
                                      <h5 class="card-title">Faster ways to conquer your enemies</h5>
                                      <p class="card-text">Dominate your enemies with relentless force.</p>
                                      <p>GRIFFITH</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 mb-4">
                      <div class="card border-0 mb-4">
                          <div class="row no-gutters">
                              <div class="col-md-6">
                                  <img src="app/assets/casca.jpeg" class="card-img3" alt="Casca">
                              </div>
                              <div class="col-md-6">
                                  <h5 class="card-title">Witness the struggle unfold</h5>
                                  <p class="card-text">Journey through darkness and despair.</p>
                                  <p>CASCA</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
